instagrapi
cryptography
pyyaml
rich
moviepy
certifi
chardet
decorator
idna
imageio
imageio-ffmpeg
numpy
Pillow
pip
proglog
pycryptodomex
pydantic
PySocks
requests
setuptools
tqdm
typing-extensions
urllib3
wheel